@import "./components/header";
@import "./components/footer";
@import "./components/note";
@import "./components/createArea";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.App {
  max-width: 1440px;
  margin: 0 auto;
}
